* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(149, 208, 223);
    font-family: 'Fjalla One', sans-serif;
    height: 100vh;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-items: center; 
}

form {
    background-color: rgb(229, 248, 252);
    border: 2px solid rgb(0,0,0);
    box-shadow: 15px 15px 1px rgb(154, 236, 219), 15px 15px 1px 2px rgb(0,0,0);
    padding: 35px 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    background: transparent;
    border: none;
    border-bottom: 3px solid rgb(0,0,0);
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 10px;
    min-width: 250px;
    outline: none;
    padding: 5px;
}

input:hover {
    border-color: rgb(154, 236, 219);
}

::placeholder {
    color: rgb(88, 94, 94);
}

button {
    background-color: rgb(154, 236, 219);
    border: 1px solid rgb(0,0,0);
    box-shadow: 3px 3px 1px rgb(149, 208, 223), 3px 3px 1px 1px rgb(0,0,0);
    cursor: pointer; 
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 2px;  
    margin: 25px;
    outline: none;
    padding: 10px 20px;
    transition: 0.2s all ease-in-out;
}

button:hover {
    background: rgb(0,0,0);
    border: 1px solid rgb(0,0,0);
    color: rgb(255, 255, 255);
}
