* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;  
    width: 100vw; 
    display: flex;
    justify-content: center;
}

.register_container {
    margin-top: 30px;
    width: 80%;
    display: flex;
    flex-direction: column; 
}

.register_container header {
    background-color: rgb(191, 207, 207);
    padding: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.register_container form {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    
}
.register_container .col_right, .col_left  {
    padding: 10px;
    display: flex;
    flex-direction: column;   
}

.register_container input, select {
    border: 1px solid rgb(73, 73, 73);
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
    outline: none;
    padding: 5px;
    width: 176px;

}
.register_container button {
    background-color: rgb(191, 207, 207);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    margin-top: 25px;
    outline: none;
    padding: 5px;
    width: 176px;
}

.table_container table {
    width: 100%;
}

.table_container th {
    background-color: rgb(191, 207, 207);
    padding: 5px;
    text-align: center; 
}

.table_container td {
    border-bottom: 1px solid rgb(191, 207, 207);
    padding: 5px;
    text-align: center; 
}

.table_container  .fas {
    color:rgb(76, 92, 92);
}

.table_container  .fa-trash {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .register_container {
        width: 100%;
    }

    .register_container form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .table_container {
        overflow: scroll;
    }
}
