* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(26, 31, 29);
    color: rgb(241, 238, 238);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    margin: 20px;
}

main {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    color: rgb(26, 31, 29);
    padding: 20px;
}

main h2 {
    font-weight: lighter;
    margin-bottom: 15px;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    background-color: transparent;
    border: 1px solid rgb(98, 111, 116);
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    padding: 10px;
    margin-bottom: 15px;
}

input:focus, input:hover {
    border-color: rgb(26, 31, 29);
}

button {
    background-color: rgb(98, 111, 116);
    border: none;
    border-radius: 5px;
    color: rgb(241, 238, 238);
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    padding: 10px;
    transition: all 0.2s; 
}

button:hover, button:focus {
    background-color: rgb(26, 31, 29); 
}

::placeholder {
    color: rgb(26, 31, 29);
}

#message {
    border: 1px solid rgb(98, 111, 116);
    border-radius: 5px;
    display: none;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 10px;
    margin-top: 10px;
}